################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotCoreTrial/bin/Debug/netcoreapp2.0
/DotCoreTrial/obj
/.vs
